<%= link_to "Home", homepage %>
<%= link_to "Signup", signup_path %>
<h1>Login</h1>

<!-- Display validation errors if any -->
<%= display_validation_alert_if_error %>
<br>
<%= form_tag(login_path) do %>
   <%= label_tag(:username) %>
   <%= text_field_tag(:username) %>
   <br>
   <%= label_tag(:password) %>
   <%= password_field_tag(:password) %>
   <br>
   <%= submit_tag("Login") %>
<% end %>