<div class="author-container">
   <h1>Author's Profile</h1>
   <br>
   <h3><%= @author.name %></h3>
   <br>
   <hr />
   <% if @author.books %>
   <h4>Books by <%= @author.name %>:</h4>
   <ul class="author-books-list"><% @author.books.each do |book| %>
      <li class="author-book-link"><%= link_to book.title, book_path(book) %></li>
   <% end %></ul>
   <% end %>
</div>
<% if admin? %>
      <div class="admin-author-links">
         <%= link_to "Edit author", edit_admin_author_path, class: "admin-link" %>
         <%= link_to "Delete author & books", delete_author_path, class: "admin-link" %>
      </div>
   <% end %>