<h1>Author's Profile</h1>
<br>
<h3><%= @author.name %></h3>
<br>
<% if @author.books %>
<h4>Books by <%= @author.name %>:</h4>
<ul><% @author.books.each do |book| %>
   <li><%= link_to book.title, book_path(book) %></li>
</ul><% end %>
<% end %>

<% if current_user.admin? %>
   <%= link_to "Edit author", edit_admin_author_path %>
   <br>
   <%= link_to "Delete author & books", delete_author_path %>
<% end %>
