
<%
=begin%>
 <%= form_for(@user) do |f| %>
   <%= f.label :admin%>
   <%= f.check_box :admin %>
   <br>
   <%= f.label :first_name %>
   <%= f.text_field :first_name %>
   <br>
   <%= f.label :last_name %>
   <%= f.text_field :last_name %>
   <br>
   <%= f.label :email %>
   <%= f.email_field :email %>
   <br>
   <%= f.label :email_confirmation %>
   <%= f.email_field :email_confirmation %>
   <br>
   <%= f.label :username %>
   <%= f.text_field :username %>
   <br>
   <%= f.label :password %>
   <%= f.password_field :password %>
   <br>
   <%= f.label :password_confirmation %>
   <%= f.password_field :password_confirmation  %>
   <br>
   <%= f.submit "Signup" %>
<% end %> 
<%
=end%>

<link rel="stylesheet" href="app/assets/stylesheets/users/forms.css" >
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
<hr>

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	<p class="text-center">Get started with your free account</p>
	<p>
		<a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>Login via Google</a>
	</p>
	<p class="divider-text">
        <span class="bg-light">OR</span>
    </p>
	<%= form_for(@user) do |f| %>
        <%= f.label :admin%>
        <%= f.check_box :admin %>
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		</div>
        <%= f.text_field :first_name, { class: "form-control", placeholder: "First Name" } %>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		</div>
        <%= f.text_field :last_name, { class: "form-control", placeholder: "Last Name" } %>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		</div>
            <%= f.email_field :email, { class: "form-control", placeholder: "Email" } %>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		</div>
            <%= f.email_field :email_confirmation, { class: "form-control", placeholder: "Email Confirmation" } %>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		</div>
		
    	 <%= f.text_field :username, { class: "form-control", placeholder: "Username"} %>
    </div> <!-- form-group// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <%= f.password_field :password, { class: "form-control", placeholder: "Password" } %>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
         <%= f.password_field :password_confirmation, { class: "form-control", placeholder: "Password Confirmation" } %>
    </div> <!-- form-group// -->                                      
    <div class="form-group">
         <%= f.submit "Signup", class: "btn btn-primary btn-block" %>
    </div> <!-- form-group// -->      
    <p class="text-center">Have an account? <a href="">Log In</a> </p>                                                                 
<% end %>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->

<br><br>