<!-- <%= form_for(@user) do |f| %>
   <%= f.label :admin%>
   <%= f.check_box :admin %>
   <br>
   <%= f.label :first_name %>
   <%= f.text_field :first_name %>
   <br>
   <%= f.label :last_name %>
   <%= f.text_field :last_name %>
   <br>
   <%= f.label :email %>
   <%= f.email_field :email %>
   <br>
   <%= f.label :email_confirmation %>
   <%= f.email_field :email_confirmation %>
   <br>
   <%= f.label :username %>
   <%= f.text_field :username %>
   <br>
   <%= f.label :password %>
   <%= f.password_field :password %>
   <br>
   <%= f.label :password_confirmation %>
   <%= f.password_field :password_confirmation  %>
   <br>
   <%= f.submit "Signup" %>
<% end %> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<body>
   <div class="container">
      <div class="col-md-6 mx-auto text-center">
         <div class="header-title">
            <h1 class="wv-heading--title">
               Check out Dev Library it’s free!
            </h1>
            <h2 class="wv-heading--subtitle">
               Lorem ipsum dolor sit amet! Neque porro quisquam est qui do dolor amet, adipisci velit...
            </h2>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 mx-auto">
            <div class="myform form ">
               <%= form_for @user, html: {name: "login"} do |f| %>
                  <div class="form-group">
                     <%= f.label :first_name %>
                     <%= f.text_field :first_name, class: "form-control my-input", placeholder: "First Name" %>
                  </div>
                  <div class="form-group">
                     <%= f.label :last_name %>
                     <%= f.text_field :last_name, class: "form-control my-input", placeholder: "Last Name" %>
                  </div>
                  <div class="form-group">
                     <%= f.label :email %>
                     <%= f.email_field :email, class: "form-control my-input", placeholder: "Email" %>
                  </div>
                  <div class="form-group">
                     <%= f.label :email_confirmation %>
                     <%= f.email_field :email_confirmation, class: "form-control my-input", placeholder: "Email Confirmation" %>
                  </div>
                  <div class="form-group">
                     <%= f.label :username %>
                     <%= f.text_field :username, class: "form-control my-input", placeholder: "Username" %>
                  </div>
                  <div class="form-group">
                      <%= f.label :password %>
                      <%= f.password_field :password, class: "form-control my-input", placeholder: "Password" %>
                  </div>
                  <div class="form-group">
                      <%= f.label :password_confirmation %>
                      <%= f.password_field :password_confirmation, class: "form-control my-input", placeholder: "Password Confirmation" %>
                  </div>
                  <div class="text-center ">
                     <%= f.submit "Signup", class: " btn btn-block send-button tx-tfm" %>
                  </div>
                  <div class="col-md-12 ">
                     <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                     </div>
                  </div>
                  <div class="form-group">
                     <%# <a class="btn btn-block g-button" href="/auth/google_oauth2"> %>
                     <%= link_to '/auth/google_oauth2', class: "btn btn-block g-button" do %>
                        <i class="fa fa-google"></i> Sign up with Google
                     <% end %>
                  </div>
                  <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                  </p>
               <% end %>
            </div>
         </div>
      </div>
   </div>
</body>