<!-- <%= form_for(@user) do |f| %>
   <%= f.label :admin%>
   <%= f.check_box :admin %>
   <br>
   <%= f.label :first_name %>
   <%= f.text_field :first_name %>
   <br>
   <%= f.label :last_name %>
   <%= f.text_field :last_name %>
   <br>
   <%= f.label :email %>
   <%= f.email_field :email %>
   <br>
   <%= f.label :email_confirmation %>
   <%= f.email_field :email_confirmation %>
   <br>
   <%= f.label :username %>
   <%= f.text_field :username %>
   <br>
   <%= f.label :password %>
   <%= f.password_field :password %>
   <br>
   <%= f.label :password_confirmation %>
   <%= f.password_field :password_confirmation  %>
   <br>
   <%= f.submit "Signup" %>
<% end %> -->

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="span3 well">
      <legend>New to Dev Library? Sign up!</legend>
    <%# <form accept-charset="UTF-8" action="" method="post"> %>
    <%= form_for(@user) do |f| %>
      <%= f.label :admin%>
      <%= f.check_box :admin %>
      <br>
		<%# <input class="span3" name="name" placeholder="Full Name" type="text">  %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "span3", placeholder: "First Name" %>
      <br>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "span3", placeholder: "Last Name" %>
        <%# <input class="span3" name="username" placeholder="Username" type="text">
        <input class="span3" name="password" placeholder="Password" type="password">  %>
        <br>
        <%= f.label :email %>
        <%= f.email_field :email, class: "span3", placeholder: "Email" %>
        <br>
        <%= f.label :email_confirmation %>
        <%= f.email_field :email_confirmation, class: "span3", placeholder: "Email Confirmation" %>
        <br>
        <%= f.label :username %>
        <%= f.text_field :username, class: "span3", placeholder: "Username" %>
        <br>
        <%= f.label :password %>
        <%= f.password_field :password, class: "span3", placeholder: "Password" %>
        <br>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "span3", placeholder: "Password Confirmation"  %>
        <br>
        <%= f.submit "Sign up for Dev Library", class: "btn btn-warning" %>
        <%# <button class="btn btn-warning" type="submit">Sign up for WebApp</button> %>
    <%# </form> %>
    <% end %>
</div>