<%= link_to "Home", root_url %>
<%= link_to "Login", login_path %>
<h1>Signup</h1>

<!-- Display validation errors if any -->
<% if @user.errors.any? %>
   <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>
       Prohibited this user from signing up:</h2>
      <ul>
      <% @user.errors.full_messages.each do |error_msg| %>
         <li><%= error_msg %></li>
      <% end %>
      </ul>
   </div>
<% end %>

<%= render 'form' %>