<h1>Signup</h1>

<!-- Display validation errors if any -->
<% if @user.errors.any? %>
   <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>
       Prohibited this user from signing up:</h2>
      <ul>
      <% @user.errors.full_messages.each do |error_msg| %>
         <li><%= error_msg %></li>
      <% end %>
      </ul>
   </div>
<% end %>

<%= form_for(@user) do |f| %>
   <%= f.label :first_name %>
   <%= f.text_field :first_name %>
   <br>
   <%= f.label :last_name %>
   <%= f.text_field :last_name %>
   <br>
   <%= f.label :email %>
   <%= f.email_field :email %>
   <br>
   <%= f.label :email_confirmation %>
   <%= f.email_field :email_confirmation %>
   <br>
   <%= f.label :username %>
   <%= f.text_field :username %>
   <br>
   <%= f.label :password %>
   <%= f.password_field :password %>
   <br>
   <%= f.label :password_confirmation %>
   <%= f.password_field :password_confirmation  %>
   <br>
   <%= f.submit "Signup" %>
<% end %>