<li>Title: <strong><%= link_to book.title, book_path(book) %></strong></li>
<li>By: <%= link_to book.author_name, author_path(book.author) %></li>
<li>Description: <%= book.description %></li>
<li>Release Date: <%= book.release_date %></li>
<li>Category: <%= book.category.name %></li>
<br>