<h1>Edit a book</h1>

<!-- Display validation errors if any -->
<% if @book.errors.any? %>
   <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %>
       Prohibited this book from being added:</h2>
      <ul>
      <% @book.errors.full_messages.each do |error_msg| %>
         <li><%= error_msg %></li>
      <% end %>
      </ul>
   </div>
<% end %>

<%= form_for(@book) do |f| %>
   <%= f.label :title %>
   <%= f.text_field :title %>
   <br>
   <%= f.label :author %>
   <%= f.text_field :author %>
   <br>
   <%= f.label :description %>
   <%= f.text_area :description %>
   <br>
   <%= f.label :release_date %>
   <%= f.date_field :release_date %>
   <br>
   <%= f.collection_select :category_name, Category.all, :name, :name %>
   <br>
   <%= f.submit %>
<% end %>