<h1><%= display_books_heading(@book) %></h1>

<ul><% @books.all.each do |book| %>
      <%= render 'book_li', book: book %>
</ul><% end %>
<br>

<% if admin? %>
  <%= button_to "Add book", new_admin_book_path, method: :get %>
  <%= button_to "Add author", new_admin_author_path, method: :get %>
  <%= button_to "Add category", new_admin_category_path, method: :get %>
<% end %>