<h1>Add a new book</h1>

<%= render partial: "layouts/form_errors", locals: {object: @book } %>

<%= form_for(@book) do |f| %>
   <%= f.label :title %>
   <%= f.text_field :title %>
   <br>
   <%= f.label :author %>
   <%= f.text_field :author %>
   <br>
   <%= f.label :description %>
   <%= f.text_area :description %>
   <br>
   <%= f.label :release_date %>
   <%= f.date_field :release_date %>
   <br>
   <%= f.collection_select :category_name, Category.all, :name, :name %>
   <br>
   <%= f.submit "Add" %>
<% end %>