<h1>Book page</h1>

<p>Title: <%= @book.title %></p>
<p>Author: <%= link_to @book.author_name, author_path(@book.author) %></p>
<p>Description: <%= @book.description %>
<p>Category: <%= @book.category_name %></p>
<p>Release Date: <%= @book.release_date %></p>
<br>
<br>
<% if current_user.admin? %> 
   <%= button_to "Edit book", edit_admin_book_path(@book), method: :get %>
   <%= button_to "Delete book", admin_book_path(@book), method: :delete %>
<% else %>
   <%= display_download_success_message %>
   <%# Add collection select menu so user's can select a download format %>
   <br>
   <%= form_tag(download_book_path(@book)) do %>
      <%= select_tag "count", options_for_select((1..10).each { |qty| qty }), prompt: "Qty" %>
      <br>
      <%= select_tag "format",  options_for_select(@download_formats.collect { |format_type| format_type }), prompt: "Format" %>
      <br>
      <%= submit_tag "Download" %>
   <% end %>
   <%# <%= button_to "Download", download_book_path(@book), method: :post %>
   <br>
   <h4>Customer reviews</h4>

   <%= button_to "Write a review", new_book_review_path(@book), method: :get %>

   <% @book.reviews.each do |review| %>
      <%= render '/reviews/reviews_links', review: review %>
   <% end %>

<% end %>