<h1>Book page</h1>

<p>Title: <%= @book.title %></p>
<p>Author: <%= @book.author %></p>
<p>Description: <%= @book.description %>
<p>Category: <%= @book.category_name %></p>
<p>Release Date: <%= @book.release_date %></p>
<br>
<% if  flash[:notice] %>
   <p class="successful-download"><%= flash[:notice] %></p>
<% else %>
   <p class="unsuccessful-download"><%= flash[:alert] %></p>
<% end %>
<br>
<%= button_to "Download", book_download_path(@book), method: :post %>
<%= button_to "Edit book", edit_book_path(@book), method: :get %>
<%= button_to "Delete book", book_path(@book), method: :delete %>

<br>
<h4>Customer reviews</h4>

<%= button_to "Write a review", new_book_review_path(@book), method: :get %>

<% @book.reviews.each do |review| %>
   <% if !review.rating.nil? && !review.comment.nil? %>
      <p>Rating: <%= review.rating %></p>
      <p>Comment: <%= review.comment %></p>
      <% if review.user_id == current_user.id %>
         <%= link_to "Edit", edit_review_path(@book, review) %>
         <%= link_to "Delete", delete_review_path, method: :delete %>
      <% end %>
   <% end %>
<% end %>




