<h1>Book page</h1>

<p>Title: <%= @book.title %></p>
<p>Author: <%= link_to @book.author_name, author_path(@book.author) %></p>
<p>Description: <%= @book.description %>
<p>Category: <%= @book.category_name %></p>
<p>Release Date: <%= @book.release_date %></p>
<br>
<%= display_download_success_message %>
<br>
<%# Add collection select menu so user's can select a download format %>
<select name="download[format]" id="download_format">
   <option value="1"><%= @download_formats[0] %></option>
   <option value="2"><%= @download_formats[1] %></option>
   <option value="3"><%= @download_formats[2] %></option>
</select>

<%= button_to "Download", download_book_path(@book), method: :post %>
<% if current_user.admin? %> 
   <%= button_to "Edit book", edit_admin_book_path(@book), method: :get %>
   <%= button_to "Delete book", admin_book_path(@book), method: :delete %>
<% end %>

<br>
<h4>Customer reviews</h4>

<%= button_to "Write a review", new_book_review_path(@book), method: :get %>

<% @book.reviews.each do |review| %>
   <!-- User render or content_tag_for or helper to refactor the code here? -->
   <%= render '/reviews/reviews_links', review: review %>
<% end %>
