<h1>Book page</h1>

<p>Title: <%= @book.title %></p>
<p>Author: <%= @book.author %></p>
<p>Description: <%= @book.description %>
<p>Category: <%= @book.category_name %></p>
<p>Release Date: <%= @book.release_date %></p>

<%= button_to "Delete This Book", book_path(@book), method: :delete%>