<h1>Add a category</h1>

<%= render partial: 'layouts/form_errors', locals: {object: @category} %>

<%= form_for([:admin, @category]) do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %>
   <br>
   <%= f.submit "Add" %>
<% end %>