<h1>Write a review</h1>

<%= form_for ([@book, @book.reviews.build]) do |f| %>
   <%= f.hidden_field :user_id %>
   <%= f.label :rating %>
   <%= f.number_field :rating, placeholder: "Rating(1-5)" %>
   <br>
   <%= f.label :comment %>
   <%= f.text_area :comment, placeholder: "Write a comment" %>
   <br>
   <%= f.submit %>
<% end %>

